<odoo>
    <data>

        <!-- actions opening views on models -->
        <act_window
                id="action_cayla_clients"
                name="Clients"
                res_model="groupe_cayla.client"
                view_mode="tree,form"/>
        <act_window
                id="action_cayla_devis"
                name="Devis"
                res_model="groupe_cayla.devis"
                view_mode="tree,form"/>
        <act_window
                id="action_cayla_entite_edition_devis"
                name="Entite édition devis"
                res_model="groupe_cayla.entite_edition_devis"
                view_mode="tree,form"/>
        <act_window
                id="action_cayla_travaux_devis"
                name="Type de travaux"
                res_model="groupe_cayla.travaux_devis"
                view_mode="tree,form"/>
        <act_window
                id="action_cayla_objet_devis"
                name="Objets de devis"
                res_model="groupe_cayla.objet_devis"
                view_mode="tree,form"/>


        <!-- Top menu item -->
        <menuitem name="Groupe Cayla" id="groupe_cayla.menu_root"
                  web_icon="groupe_cayla,static/description/icon.png" sequence="6"/>

        <!-- menu categories -->
        <menuitem name="Clients" id="groupe_cayla.clients" parent="groupe_cayla.menu_root"
                  action="action_cayla_clients"/>
        <menuitem name="Devis" id="groupe_cayla.devis" parent="groupe_cayla.menu_root"/>
        <menuitem name="Devis" id="groupe_cayla.liste_devis" parent="groupe_cayla.devis"
                  action="action_cayla_devis"/>
        <menuitem name="Entité édition" id="groupe_cayla.entite_edition_devis" parent="groupe_cayla.devis"
                  action="action_cayla_entite_edition_devis"/>
        <menuitem name="Type de travaux" id="groupe_cayla.travaux_devis" parent="groupe_cayla.devis"
                  action="action_cayla_travaux_devis"/>
        <menuitem name="Objets de devis" id="groupe_cayla.objet_devis" parent="groupe_cayla.devis"
                  action="action_cayla_objet_devis"/>


    </data>
</odoo>