<odoo>
    <data>

          <!-- actions opening views on models -->
        <act_window
                id="action_cayla_clients"
                name="Clients"
                res_model="groupe_cayla.client"
                view_mode="tree,form"/>
        <act_window
                id="action_cayla_devis"
                name="Devis"
                res_model="groupe_cayla.devis"
                view_mode="tree,form"/>


        <!-- Top menu item -->
        <menuitem name="Groupe Cayla" id="groupe_cayla.menu_root"
                  web_icon="groupe_cayla,static/description/icon.png" sequence="6"/>

        <!-- menu categories -->
        <menuitem name="Clients" id="groupe_cayla.clients" parent="groupe_cayla.menu_root"
                  action="action_cayla_clients"/>
        <menuitem name="Devis" id="groupe_cayla.devis" parent="groupe_cayla.menu_root"
                  action="action_cayla_devis"/>




    </data>
</odoo>