<odoo>
    <data>

        <!-- actions opening views on models -->
        <act_window
                id="action_cayla_clients"
                name="Clients"
                res_model="groupe_cayla.client"
                view_mode="tree,form"/>
        <act_window
                id="action_cayla_devis"
                name="Devis"
                res_model="groupe_cayla.devis"
                view_mode="tree,form"/>

         <act_window
                id="action_cayla_cee"
                name="CEE"
                res_model="groupe_cayla.cee"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_planif_vt"
                name="Planif VT"
                res_model="groupe_cayla.planif_vt"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_entite_edition_devis"
                name="Entite édition devis"
                res_model="groupe_cayla.entite_edition_devis"
                view_mode="tree,form"/>
        <act_window
                id="action_cayla_supplement_devis"
                name="Type de supplement"
                res_model="groupe_cayla.supplement_devis"
                view_mode="tree,form"/>
        <act_window
                id="action_cayla_objet_devis"
                name="Objets de devis"
                res_model="groupe_cayla.objet_devis"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_taux_tva"
                name="Taux de TVA"
                res_model="groupe_cayla.taux_tva"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_sujet_devis"
                name="Sujets devis"
                res_model="groupe_cayla.sujet_devis"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_produit"
                name="Produits"
                res_model="groupe_cayla.produit"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_marque_produit"
                name="Marques produit"
                res_model="groupe_cayla.marque_produit"
                view_mode="tree,form"/>
        <act_window
                id="action_cayla_modele_produit"
                name="Modèles produits"
                res_model="groupe_cayla.modele_produit"
                view_mode="tree,form"/>


        <act_window
                id="action_cayla_type_client"
                name="Types de clients"
                res_model="groupe_cayla.type_client"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_zone_habitation"
                name="Zones d'habitation"
                res_model="groupe_cayla.zone_habitation"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_convention"
                name="Conventions"
                res_model="groupe_cayla.convention"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_fiche"
                name="Fiches"
                res_model="groupe_cayla.fiche"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_type_chauffage"
                name="Types de chauffage"
                res_model="groupe_cayla.type_chauffage"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_source_energie_chauffage"
                name="Source d'énergie chauffage"
                res_model="groupe_cayla.source_energie_chauffage"
                view_mode="tree,form"/>

        <act_window
                id="action_cayla_tarif_prime_cee"
                name="Tarifs des primes CEE"
                res_model="groupe_cayla.tarif_prime_cee"
                view_mode="tree,form"/>



        <!-- Top menu item -->
        <menuitem name="Groupe Cayla" id="groupe_cayla.menu_root"
                  web_icon="groupe_cayla,static/description/icon.png" sequence="6"/>

        <!-- menu categories -->
        <menuitem name="Clients" id="groupe_cayla.clients" parent="groupe_cayla.menu_root"
                  action="action_cayla_clients"/>
        <menuitem name="Devis" id="groupe_cayla.devis" parent="groupe_cayla.menu_root" action="action_cayla_devis"/>
        <menuitem name="CEE" id="groupe_cayla.cee" parent="groupe_cayla.menu_root" action="action_cayla_cee"/>
        <menuitem name="Administration" id="groupe_cayla.administration" parent="groupe_cayla.menu_root"/>
        <menuitem name="Taux TVA" id="groupe_cayla.taux_tva" parent="groupe_cayla.administration"
                  action="action_cayla_taux_tva"/>

        <menuitem name="Paramétrages devis" id="groupe_cayla.param_devis"
                  parent="groupe_cayla.administration"/>
        <menuitem name="Entité édition devis" id="groupe_cayla.entite_edition_devis"
                  parent="groupe_cayla.param_devis"
                  action="action_cayla_entite_edition_devis"/>
        <menuitem name="Suppléments devis" id="groupe_cayla.supplement_devis" parent="groupe_cayla.param_devis"
                  action="action_cayla_supplement_devis"/>
        <menuitem name="Objets de devis" id="groupe_cayla.objet_devis" parent="groupe_cayla.param_devis"
                  action="action_cayla_objet_devis"/>
        <menuitem name="Sujets devis" id="groupe_cayla.sujet_devis" parent="groupe_cayla.param_devis"
                  action="action_cayla_sujet_devis"/>

        <menuitem name="Paramétrages produits" id="groupe_cayla.param_produits"
                  parent="groupe_cayla.administration"/>
        <menuitem name="Produits" id="groupe_cayla.produit" parent="groupe_cayla.param_produits"
                  action="action_cayla_produit"/>
        <menuitem name="Marques produits" id="groupe_cayla.marque_produit" parent="groupe_cayla.param_produits"
                  action="action_cayla_marque_produit"/>
        <menuitem name="Modèles produits" id="groupe_cayla.modele_produit" parent="groupe_cayla.param_produits"
                  action="action_cayla_modele_produit"/>

        <menuitem name="Paramétrages CEE" id="groupe_cayla.param_cee"
                  parent="groupe_cayla.administration"/>
        <menuitem name="Types de client" id="groupe_cayla.type_client" parent="groupe_cayla.param_cee"
                  action="action_cayla_type_client"/>
        <menuitem name="Zones d'habitation" id="groupe_cayla.zone_habitation" parent="groupe_cayla.param_cee"
                  action="action_cayla_zone_habitation"/>
        <menuitem name="Conventions" id="groupe_cayla.convention" parent="groupe_cayla.param_cee"
                  action="action_cayla_convention"/>
        <menuitem name="Fiches" id="groupe_cayla.fiche" parent="groupe_cayla.param_cee"
                  action="action_cayla_fiche"/>
        <menuitem name="Sources d'énergie chauffage" id="groupe_cayla.source_energie_chauffage"
                  parent="groupe_cayla.param_cee"
                  action="action_cayla_source_energie_chauffage"/>
        <menuitem name="Types chauffage" id="groupe_cayla.type_chauffage" parent="groupe_cayla.param_cee"
                  action="action_cayla_type_chauffage"/>
        <menuitem name="Tarifs des primes CEE" id="groupe_cayla.tarif_prime_cee" parent="groupe_cayla.param_cee"
                  action="action_cayla_tarif_prime_cee"/>

    </data>
</odoo>